%h1 Collections

- @collections.each do |collection|
  %section
    .id
      = link_to collection.collection_id, collection
    %h2.title= collection.title unless collection.title.empty?
    .text= collection.description
    .text= collection.user
