%h1= "Document Document Matrix"
%table
  %tr
    %td
    - @collections.each do |collection|
      %td
        %strong= collection.id
  - @collections.each do |collection|
    %tr
      %td
        %strong= collection.id
      - collection.sim_vector.each do |value|
        %td= value