nav {
  width: 100%;
  ul {
    li {
      padding: 0px 20px;
      display: inline;
    }
  }
}

section {
  padding: 10px;
  border: 1px solid grey;
  margin: 10px 0px;

  .id {

  }

  .title {

  }

  .text {

  }

  .user {

  }

  time {

  }

  .meta {

  }
}
